name: "Publish"
on:
  push:
    tags:
      - "v*" # Publish on any tag starting with 'v', e.g., v0.1.0

jobs:
  run:
    runs-on: ubuntu-latest
    environment:
      name: publish
    permissions:
      id-token: write

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v2

      - name: Build package
        run: uv build --no-sources

      - name: Publish to PyPI
        run: uv publish
